body{
    width: 1500px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.bandeau {
    background:#579c87;
    color:#fdcb46;
    font-size: 3em;
    vertical-align: middle;
    &__entete{
        height:250px;
        text-align: center;
        line-height: 250px;
    }
    &__pied{
        height:135px;
        display: flex;
        justify-content: space-between;
        padding-right: 35px;
        padding-left: 35px;
    }
}
.degrade {
    margin-top: 300px;
    font-size: 1.7em;
    color:transparent;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    &__enchante {
        color:#3c1218;
        i{
        color: transparent;
        -webkit-background-clip: text;
        -ms-background-clip: text;
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.6, #f04a5e), color-stop(1, #f8a183));
        background-image: gradient(linear, left top, right bottom, color-stop(0.6, #f04a5e), color-stop(1, #f8a183));
        }
    }
    &__francaise {
        background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.1,#d8852e), color-stop(1,#905bfd));
        background-image: gradient( linear, left top, right bottom, color-stop(0.1, #d8852e), color-stop(1,#905bfd));
        background-image: -ms-gradient( linear, left top, right bottom, color-stop(0.1, #d8852e), color-stop(1,#905bfd));
        & span {
            color:#d8852e;
        }
    }
    &__papille {
        background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.2,#0645e5), color-stop(1,#0887fb));
        background-image: gradient( linear, left top, right bottom, color-stop(0.2, #0645e5), color-stop(1,#0887fb));
        background-image: -ms-gradient( linear, left top, right bottom, color-stop(0.2, #0645e5), color-stop(1,#0887fb));
    }
    &__gout {
        background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.2,#4c9f42), color-stop(1,#bfff7e));
        background-image: gradient( linear, left top, right bottom, color-stop(0.2, #4c9f42), color-stop(1,#bfff7e));
        background-image: -ms-gradient( linear, left top, right bottom, color-stop(0.2,#4c9f42), color-stop(1,#bfff7e));
    }
}
.menus {
    _border: 1px solid black;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.carte h2{
    margin-top: 300px;
    font-size: 2em;
}
.carte {
    width: 535px;
    height:750px;
    flex-flow: row wrap;
    text-align: center;
    border-radius: 10px;
    box-shadow:4px 4px 4px 4px #f0eded;
    & span {
        text-transform:uppercase;
    }
    &__enchante {
        background:#fcdfdb;
        margin-left:165px;
        margin-right:100px;
        margin-top:100px;
        font-family: 'Damion', cursive;
        color:#3c1218;
    }
    &__papille {
        background: #f9f9f9;
        margin-top: 100px;
        margin-left:165px;
        font-family: 'Satisfy', sans-serif;
        
    }
    &__francaise {
        background:#fff5fe; 
        margin-top: 100px;
        font-family: 'Courgette', cursive;
       
    }
     &__gout {
        background: #fdfffd;
        margin-top: 100px;
        margin-left: 100px;
        font-family: 'Kaushan Script', sans-serif;
    }
}
button {
    width: 655px;
    margin-bottom:65px;
    height: 120px;
    border-radius:25px;
    margin-left:422.5px;


}
.carte:hover {
    animation: carte-animations 2s ease-in-out forwards;
}
footer p:hover {

    animation: wiggle 400ms alternate-reverse infinite ease-in-out both;
}
.jump {
    margin-left: 171.75px;
    display: flex;
    &__1 {
    animation: jumping-point 800ms ease-in-out infinite alternate-reverse;
    }
    &__2 {
    animation: jumping-point 800ms 400ms ease-in-out infinite alternate-reverse;
    }
    &__3 {
    animation: jumping-point 800ms 600ms ease-in-out infinite alternate-reverse;
    }
}

@keyframes wiggle
{
    from{
        transform: rotate(-4deg);
    }
    to{
        transform: rotate(4deg);
    }
}
@keyframes carte-animations
{
    from{
        font-size: 1em;
    }

    to{
        font-size:1.6em;
    }
}
@keyframes jumping-point
{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
}
