/* animation du footer */
.jump {
    display: flex;
    &__1 {
    animation: jumping-point 800ms ease-in-out infinite alternate-reverse;
    }
    &__2 {
    animation: jumping-point 800ms 400ms ease-in-out infinite alternate-reverse;
    }
    &__3 {
    animation: jumping-point 800ms 600ms ease-in-out infinite alternate-reverse;
    }
}
.carte:hover {
    animation: carte-animations 2s ease-in-out forwards;
}
footer a{
    animation: wiggle 500ms 2s infinite ease-in-out forwards;
}
@keyframes wiggle  
{
    0% , 5%{
        transform: rotate(-4deg);
    }
    20%  , 35%{
        transform: rotate(4);
    }
    
    100%{
        text-decoration: none;
    }
}
/* animation zoom */
@keyframes carte-animations
{
    from{
        font-size: 1em;
        opacity:1;
    }

    to{
        font-size:1.6em;
        opacity:0.5;
    }
}
/* animation des petits points */
@keyframes jumping-point
{
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}
/* transition pour le soulignement de gauche à droite */
.test::after {
    display:block;
    content: '';
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.test:hover::after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}