body{
    max-width: 1500px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

/* Toute les partie sur fond vert */

.bandeau { 
    background:$vert;
    color:$jaune;
    font-size: 3em;
    display: flex;
    width: auto;
    justify-content: space-around;
    margin: auto;
    justify-items: center;
    align-items: center;
    -webkit-justify-items: center;
    -webkit-align-items: center;
    letter-spacing: -3.5px;
    overflow: hidden;
    &__entete{
        height:250px;
        -webkit-height:250px;
        margin-bottom: 100px;
    }
    &__pied{
        height:135px;
        max-width:1500px;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        bottom:0;
    }
    &__prochainement{
        cursor: pointer;
        width: 43.33%;
        height: 120px;
        border-radius: 20px;
        margin-bottom: 200px;
        }
    & a{
        text-decoration: none;
        color:$jaune;
        padding-left: 35px;
        padding-right: 35px;
    }
}

/* mise en page des cartes menus */

.menus {
    width: auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carte { 
    width: 535px;
    height:750px;
    justify-items: center;
    margin-bottom: 100px;
    box-shadow: 1px -1px 34px -7px grey;
    text-decoration: none;
    & h2{
        text-align: center;
        margin-top: 300px;
        font-size: 2em;
        color: transparent;
        -webkit-background-clip: text;
    }
    & span {
        text-transform:uppercase;
        line-height: 70px;
    }
    &__enchante {
        background:$saumon-enchante;
        font-family: 'Damion', cursive;
        & h2 {
            color:$marron-menu;
            & i {
                color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
    &__papille {
        background:$blanc-papille;
        font-family: 'Satisfy', sans-serif;
    }
    &__francaise {
        background:$bleu-francaise; 
        font-family: 'Courgette', cursive;     
    }
    &__gout {
        background:$blanc-palette;
        font-family: 'Kaushan Script', sans-serif;
    }
}
/* mise en forme des pages menus unique */
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
}
.menu {
    max-width:1200px;
    height: auto;
    box-shadow: 1px -1px 34px -7px grey;
    margin: auto;
    font-size: 1.8em;
    margin-bottom: 200px;
    padding: 50px 0px 50px 0px;
    & h3 {
        text-align: center;
        font-size: 0.8em;
    }
    & ul {
        list-style-type: none;
        line-height: 200%;
        padding-left: 0;
        padding: 0px 150px 0px 150px;
        clear: both;      
    }
    &__enchante {
        background-color:$saumon-enchante;
        font-family:'Damion', cursive;
        color:$marron-menu;
        & p i {
            -webkit-background-clip: text;
            color: transparent;
        }

    }
    &__francaise {
        background:$bleu-francaise;
        font-family: 'Courgette', cursive;
        & h2 {
            color: transparent;
            -webkit-background-clip: text;
        }
        & .parti{
            &__marron{
                color:$parti-marron;
            }
            &__rose{
                color:$parti-rose;
            }
            &__violette{
                color:$parti-violette;
            }
        }
    }
    &__papille {
        background-color:$blanc-papille;
        font-family: 'Satisfy', sans-serif;
        & h2 {
            color: blue;
        }
    }
    &__palette {
        font-family: 'Kaushan Script', sans-serif;
        background-color: $blanc-palette;
        & h2 {
            color: transparent;
            -webkit-background-clip: text;
        }
    }
    & span {
    float: right;
    font-weight: bold;
    p {
        font-size: 0.5em;
    }
    }
}
.title {
    text-align: center;
    font-size: 1.5em;
    padding: 0px 0px 0px 0px;
    & .test{
        position:relative;
        text-decoration:none;
        display:inline-block;
    }
    & img {
        vertical-align: middle;
    }
}
#icon_top{
    color: transparent;
    -webkit-background-clip: text;
}
#icon_bot{
    color: transparent;
    -webkit-background-clip: text;
}
.liseret {
    &_gauche{
    float:left;
    }
    &_droite{
    float:right;
    }
}