/*
Mise en page globale
Font-Size/Family
*/



/*=========================
Dimension du corp du site 
=========================*/
body{
    max-width: 1500px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

/*=============================
Header/Footer et Prochainement
=============================*/

.bandeau { 
    background:$vert;
    color:$jaune;
    font-size: 3em;
    display: flex;
    width: auto;
    justify-content: space-around;
    margin: auto;
    justify-items: center;
    align-items: center;
    letter-spacing: -3.5px;
    &__entete{
        height:125px;
        margin-bottom: 100px;
    }
    &__pied{
        height:90px;
        max-width:1500px;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        bottom:0;
    }
    &__prochainement{
        cursor: pointer;
        width: 43.33%;
        height: 120px;
        border-radius: 20px;
        margin-bottom: 200px;
        }
    & a{
        text-decoration: none;
        color:$jaune;
        padding-left: 35px;
        padding-right: 35px;
    }
}

/* mise en page des cartes menus */

.menus {
    width: auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*=================================================== 
Dimension générale de chaque carte de la page index 
====================================================*/
.carte { 
    width: 535px;
    height:750px;
    margin-bottom: 100px;
    box-shadow: 1px -1px 34px -7px grey;
    -webkit-box-shadow:1px -1px 34px -7px grey;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2{
        font-size: 2em;
        color: transparent;
        -webkit-background-clip: text;
    }
    & span {
        text-transform:uppercase;
        line-height: 70px;
        font-family:'Tillana';
    }
    &__enchante {
        background:$saumon-enchante;
        font-family: 'Devonshire';
        & h2 {
            color:$marron-menu;
            & i {
                color: transparent;
                -webkit-background-clip: text;
            }
        }
    }
    &__papille {
        background:$blanc-papille;
        font-family: 'Satisfy', sans-serif;
    }
    &__francaise {
        background:$bleu-francaise; 
        font-family: 'Libre Baskerville';     
    }
    &__gout {
        background:$blanc-palette;
        font-family: 'Kaushan Script', sans-serif;
    }
}
/*==========================
Mise des page menus unique 
==========================*/
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
}
.menu { /* Dimenssion générale des menu */
    width: 85%;
    height: auto;
    box-shadow: 1px -1px 34px -7px grey;
    margin: auto;
    font-size: 1.8em;
    margin-bottom: 200px;
    padding: 50px 0px 50px 0px;
    & h2 {
        font-size: 2em;
    }
    & h3 {
        text-align: center;
        font-size: 0.9em;
    }
    & ul {
        list-style-type: none;
        line-height: 200%;
        padding-left: 0;
        padding: 0px 110px 0px 110px;
        clear: both;      
    }
    &__enchante {
        background-color:$saumon-enchante;
        font-family:'Devonshire';
        color:$marron-menu;
        & p i {
            -webkit-background-clip: text;
            color: transparent;
        }

    }
    &__francaise {
        background:$bleu-francaise;
        font-family: 'Libre Baskerville';
        & h2 {
            color: transparent;
            -webkit-background-clip: text;
        }
        & .parti{
            &__marron{
                color:$parti-marron;
            }
            &__rose{
                color:$parti-rose;
            }
            &__violette{
                color:$parti-violette;
            }
        }
    }
    &__papille {
        background-color:$blanc-papille;
        font-family: 'Satisfy', sans-serif;
        & h2 {
            color: blue;
        }
    }
    &__palette {
        font-family: 'Kaushan Script', sans-serif;
        background-color: $blanc-palette;
        & h2 { /* Rend le texte transparent pour y attribué la couleur du background, ici pour les dégradés */
            color: transparent;
            -webkit-background-clip: text;
        }
    }
    & span {
    float: right;
    font-weight: bold;
    p {
        font-size: 0.5em;
    }
    }
}
.title {
    font-size: 1.5em;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    clear: both;
    & .test{
        position:relative;
        text-decoration:none;
        display:inline-block;
    }
    & img {
        overflow: hidden;
        width: 25%;
    }
}
#icon_top{
    color: transparent;
    -webkit-background-clip: text;
}
#icon_bot{
    color: transparent;
    -webkit-background-clip: text;
}

/*================================= 
Degradé de couleurs pour les cartes 
=================================*/

.degrade { 
    &__bas {
        text-align: center;
        font-size: 2em;
    }
    &__enchante {
        color:#3c1218;
        i{
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0.6, $rouge), color-stop(1, $beige));
        background: -ms-gradient(linear, left top, right bottom, color-stop(0.6, $rouge), color-stop(1, $beige));
        }
    }
    &__francaise {
        background: -webkit-gradient( linear, left top, right bottom, color-stop(0.1,$maron), color-stop(1,$violet));
        background: -ms-gradient( linear, left top, right bottom, color-stop(0.1, $maron), color-stop(1,$violet));
        & span {
            color:#d8852e;
        }
    }
    &__papille {
        background: -webkit-gradient( linear, left top, right bottom, color-stop(0.2, $bleu-foncer), color-stop(1,$bleu-clair));
        background: -ms-gradient( linear, left top, right bottom, color-stop(0.2, $bleu-foncer), color-stop(1,$bleu-clair));
    }
    &__gout {
        background: -webkit-gradient( linear, left top, right bottom, color-stop(0.2,$vert-foncer), color-stop(1,$vert-clair));
        background: -ms-gradient( linear, left top, right bottom, color-stop(0.2,$vert-foncer), color-stop(1,$vert-clair));
    }
}