@media screen and (max-width: 1000px){
/* Menu général ( toutes les pages en dessous de 1000px de large ) */
.menu {
    text-align: center;
    justify-content: center;
    width: 85%;
    padding:0px;
    font-size:1.4em;
    margin-bottom: 120px;
    & h2 {
        font-size: 2em;
    }
    & ul {
        margin:0;
        padding: 3%;
        line-height: 100%;
    }
    & li {
        margin-bottom: 20px;
    }
    & span {
        float: none;
        display: block;
    }
    & img {
        overflow: hidden;
        margin:10px 10px 10px 10px;
    }
}
.carte {
    width: 90%;
    height: 330px;
    margin-bottom: 30px;
}
.bandeau{
    height: 100px;
    font-size: 2em;
    &__prochainement{
        font-size: 2em;
        letter-spacing: 0;
        width: 85%;
        margin-bottom: 130px;
    }
    &__entete{
        margin-bottom: 20px;
    }
    &__pied{
        font-size: 1.4em;
        letter-spacing: normal;
    }
}
}