$vert : #579c87;
$jaune : #fdcb46;
$saumon : #fcffdb;
$saumon-enchante : #fcdfdb;
$bleu-française : #fff5fe;
$blanc-papille : #f9f9f9;
$blanc-palette : #fdfffd;
$bleufoncer : #0645e5;
$bleuclair : #0887fb;
$vertfoncer: #4c9f42;
$vertclair : #bfff7e;
$maron: #d8852e;
$violet: #905bfd;
$rouge: #f04a5e;
$beige: #f8a183;