/* Couleur globale header/footer */
$vert : #579c87;
$jaune : #fdcb46;

/* background des carte et menus */
$saumon : #fcffdb;
$saumon-enchante : #fcdfdb;
<<<<<<< HEAD
$bleu-francaise : #fff5fe;
$blanc-papille : #edefef;
=======
<<<<<<< HEAD
$bleu-francaise : #fff5fe;
=======
$bleu-française : #fff5fe;
>>>>>>> 4987122b25fa695f4b3cd9ce506641360fa4af0d
$blanc-papille : #f9f9f9;
>>>>>>> 56242a2c563f99d316a90910b04ef1ca1ea80f8a
$blanc-palette : #fdfffd;

/* Couleur des dégradés */
$bleu-foncer : #0645e5;
$bleuclair : #0887fb;
$vertfoncer: #4c9f42;
$vertclair : #bfff7e;
$maron: #d8852e;
$violet: #905bfd;
$rouge: #f04a5e;
$beige: #f8a183;

/* Le chic à la Fr */
$parti-marron:#c67412;
$parti-rose:#a56799;
$parti-violette:#6e4ccc;

/* La note enchanté */
$marron-menu:#3d1319;