/* Couleur globale header/footer */
$vert : #579c87;
$jaune : #fdcb46;

/* background des carte et menus */
$saumon-enchante : #fcdfdb;
$bleu-francaise : #fff5fe;
$blanc-papille : #edefef;
$blanc-palette : #fdfffd;

/* Couleur des dégradés */
$bleu-foncer : #0645e5;
$bleu-clair : #0887fb;
$vert-foncer: #4c9f42;
$vert-clair : #bfff7e;
$maron: #d8852e;
$violet: #905bfd;
$rouge: #f04a5e;
$beige: #f8a183;

/* Le chic à la Fr */
$parti-marron:#c67412;
$parti-rose:#a56799;
$parti-violette:#6e4ccc;

/* La note enchanté */
$marron-menu:#3d1319;